html, body {
  min-height: 100vh;
}

body {
  font: 16px $font-primary, verdana;
  color: $text-color;
  background: #021130;
}

a {
  color: inherit;
  text-decoration: none;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;  /* Konqueror */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE/Edge */
  user-select: none;
}

.hidden {
  visibility: hidden!important;
}

.invisible {
  display: none!important;
}

.button {
  font: 1rem $font-primary;
  color: #000;
  //background: #ea8;
  background: $cyan;
  border-radius: 2px;
  border: none;
  outline: none;
  text-align: center;
  letter-spacing: 1px;
  min-width: 80px;
  height: 24px;
  line-height: 24px;
  display: block;
  padding: 0 1rem;

  &.selected {
    color: $text-color;
    background: $middle-grey;
  }

  &.lg {
    text-transform: uppercase;
    min-width: 160px;
    height: 32px;
    line-height: 32px;
  }
}

.button-group {
  //background: #099;
  display: flex;
  margin: 0 .75rem;

  .button {
    margin: 0 0.5rem 0 0;
    &:last-child {
      margin: 0;
    }
  }
}