@import url('https://fonts.googleapis.com/css?family=Exo+2');
$font-primary: 'Exo 2';
$page-width: 960px;

$text-color: #eee;
$orange: #e93;
$cyan: #a0c0e0;

$light-gray: #c0c0c0;
$light-gray-plus-5: lighten($light-gray, 5%);
$light-gray-plus-10: lighten($light-gray, 10%);
$light-gray-minus-5: darken($light-gray, 5%);
$light-gray-minus-10: darken($light-gray, 10%);

$middle-gray: #808080;

$dark-gray: #404040;
$dark-gray-plus-5: lighten($dark-gray, 5%);
$dark-gray-plus-10: lighten($dark-gray, 10%);
$dark-gray-minus-5: darken($dark-gray, 5%);
$dark-gray-minus-10: darken($dark-gray, 10%);
