@import url('https://fonts.googleapis.com/css?family=Exo+2');
$font-primary: 'Exo 2';
$page-width: 960px;

$text-color: #eee;
$orange: #e93;
$cyan: #a0c0e0;

$light-grey: #c0c0c0;
$middle-grey: #808080;
$dark-grey: #404040;

@mixin drop-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
