@import url('https://fonts.googleapis.com/css?family=Exo+2');
$font-primary: 'Exo 2';
$page-width: 960px;

$text-color: #eee;
$orange: #e93;
$cyan: #a0c0e0;

$light-grey: #c0c0c0;
$light-grey-plus-5: lighten($light-grey, 5%);
$light-grey-plus-10: lighten($light-grey, 10%);
$light-grey-minus-5: darken($light-grey, 5%);
$light-grey-minus-10: darken($light-grey, 10%);

$middle-grey: #808080;

$dark-grey: #404040;
$dark-grey-plus-5: lighten($dark-grey, 5%);
$dark-grey-plus-10: lighten($dark-grey, 10%);
$dark-grey-minus-5: darken($dark-grey, 5%);
$dark-grey-minus-10: darken($dark-grey, 10%);

@mixin drop-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
